.nav flex-column {
  border-style: solid;
  border-color: blue;
}

.header {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
  color: #ef1509;
  border-style: solid;
  border-color: red;
  padding-left: 10px;
}
.categories {
  border-style: solid;
  border-color: grey;
  padding-left: 10px;
}

.content {
  border-style: solid;
  border-color: red;
  padding-right: 10px;
}

.footer {
  padding-left: 10px;
  border-style: solid;
  border-color: grey;
}
