body{
  font-family: 'Roboto', sans-serif;
}

.header {
  color: #ef1509;
  padding-left: 10px;
}

.pageTitle {
  padding-top: 20px;
}

.categories {
  padding-top: 10px;
  padding-left: 10px;
}

.content {
  padding-right: 10px;
}

.centerContent{
  padding-top: 20px;
}

h1{
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

li{
  color: red;
  text-decoration: none;
}
